.main {
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
}

.errorMessage {
    color: red;
}

.bot {
    text-align: left;
}